.venv/
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
.env
.env.test
.env.production
portal/staticfiles/
portal/.env
portal/.env.test
portal/.env.production
*.log
portal/logs/
.idea/
.vscode/
sync-service/**/bin/
sync-service/**/obj/
sync-service/**/publish/
*.user
build/
